{% extends 'layout.twig' %}

{% block main %}
<section>
<div class="container">
	<div class="row clearfix">
            {#aside menu#}
            {% block aside %}
                        <aside class="column column3">
                                    <h2>Каталог</h2>
                                    <ul>
                        {% for title in titles %}
                                        <li><a href="/catalog/{{ title }}">{{ title }}</a></li>
                        {% endfor %}
                                    </ul>
                        </aside>
            {% endblock %}
		<div class="catalog column column9">
			{#<div class="order-status ">#}
				{#<div class="row clearfix">#}
					{#<p>Мини-утка брелок добавлена в корзину</p>#}
					{#<a href="" class="order-status-btn-basket">В Корзину</a>#}
				{#</div>#}
			{#</div>#}
			<!-- хлебные крошки -->
			<div class="breadcrumbs item-breadcrumbs">
				<a href="/">Главная</a>
				<a href="/catalog">Каталог</a>
			</div>
			<div class=" row clearfix item-heading">
				<!-- название товара -->
				<h1 class="item-name column column6">{% for title in ptitle %}{{ title }}{% endfor %}</h1>
				<!-- цена -->
				<p class="price column column6">{% for raw in price %}{{ raw }}{% endfor %}$</p>
			</div>
			<div class="row clearfix">
				<div class="column column6">
					<!-- галерея картинок -->
					<div class="item-gallery">
						<img src="/img/{{ imgname }}" alt="уточка">
						<div class="small-images">
							<img src="/img/{{ imgname }}" alt="уточка">
							<img src="/img/{{ imgname }}" alt="уточка">
							<img src="/img/{{ imgname }}" alt="уточка">
						</div>
					</div>
				</div>
				<div class="column column6">
				<!-- описание -->
					<p class="item-description">
					<span class="grey-bold">{% for raw in ptitle %}{{ raw }}{% endfor %}</span> — {% for raw in pdescription %}{{ raw }}{% endfor %}.
					</p>
					<!-- цена -->
					<p class="price">{% for raw in price %}{{ raw }}{% endfor %}$</p>
					<div class="order-btns">
						<a href="" class="btn-basket">В Корзину</a>
						<a href="" class="btn-click">Купить в 1 клик</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}