{% extends 'layout.twig' %}

{#main#}
{% block content %}
                <div class="catalog">
                    <!-- хлебные крошки -->
                    <div class="breadcrumbs">
                        <a href="{{ path('main') }}">Главная</a>
                        {#<p>{{ category.title }}</p>#}
                    </div>
                    <div class="row clearfix">
                        <!-- элементы каталога -->
                        {% block product %}
                            {% for product in products %}
                            <div class="item-block column column4">
                              <a href="{{ path('show_product', {id: product.id}) }}" class="item">
                                <img src="/img/{{ product.file_name }}" alt="уточка">
                              </a>
                              <a href="{{ path('add_to_cart', {product_id: product.id}) }}" class="btn-basket">В Корзину</a>
                            </div>
                            {% endfor %}
                        {% endblock %}
                    </div>
                </div>
{% endblock %}
